<main class="auth-component">
  <div class="container">
    <div class="left-section">
      <img class="logo" src="../../assets/img/logo_font_white_no_bg.png" alt="Logo FitApp" />
      <form (ngSubmit)="onLoginSubmit()" #loginForm="ngForm">
        <h3>Faça Login</h3>
        <div class="form-field {{ email.invalid && email.touched ? 'invalid' : '' }}">
          <fa-icon [icon]="mailIcon"></fa-icon>
          <input
            id="email"
            name="email"
            type="email"
            placeholder="E-mail"
            [(ngModel)]="user.email"
            [email]="true"
            #email="ngModel"
            required
          />
        </div>
        <div class="form-field {{ password.invalid && password.touched ? 'invalid' : '' }}">
          <fa-icon [icon]="passwordIcon"></fa-icon>
          <input
            id="password"
            name="password"
            type="password"
            placeholder="Password"
            [(ngModel)]="user.password"
            #password="ngModel"
            required
          />
        </div>
        <button type="submit" [disabled]="!loginForm.valid">Entrar</button>
      </form>
      <a href="#">Recuperar senha</a>
    </div>
    <div class="right-section">
      <img src="../../assets/img/background_login.jpg" alt="Girl in the Gym" />
    </div>
  </div>
</main>
