<div class="auth-component">
  <div class="container">
    <div class="left-section">
      <img class="logo" src="../../assets/img/logo_font_white_no_bg.png" alt="Logo FitApp" />
      <form action="">
        <h3>Faça Login</h3>
        <div class="form-field">
          <fa-icon [icon]="mailIcon"></fa-icon>
          <input id="email" name="email" type="email" placeholder="E-mail" />
        </div>
        <div class="form-field">
          <fa-icon [icon]="passwordIcon"></fa-icon>
          <input id="password" name="password" type="password" placeholder="Password" />
        </div>
        <button type="submit">Entrar</button>
      </form>
      <a href="#">Recuperar senha</a>
    </div>
    <div class="right-section">
      <img src="../../assets/img/background_login.jpg" alt="Girl in the Gym" />
    </div>
  </div>
</div>
