/* You can add global styles to this file, and also import other style files */
* {
  box-sizing: border-box;
  margin: 0;
  outline: 0;
  padding: 0;
}
body {
  -webkit-font-smoothing: antialiased;
}

body,
input,
button {
  font: 16px Roboto, sans-serif;
}

button {
  cursor: pointer;
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 600000s 0s, color 600000s 0s;
}

main {
  height: 100vh;
  margin-bottom: -15px;
}
